:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-title-color: #ffffff;
  --background-hero-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --background-body-color: #ffffff;
  --background-team-color: #f5f4fa;
  --font-size-main: 14px;
  --icon-color: #afb1b8;
  --background-client-color: #e5e5e5;
  --text-card-color: #eeeeee;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid teal; */
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.header-page {
  border-bottom: 1px solid #ececec;
}
body {
  margin: 0;

  background-color: var(--background-body-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.no-margin {
  margin: 0;
}
.image {
  display: block;
  max-width: 100%;
  height: auto;
}
/* logo */

.logo__header-accent {
  color: #000000;
}
.logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo__header-size {
  display: block;
  padding-top: 25px;
  padding-bottom: 24px;
  margin-right: 93px;
}
.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.header-menu__link.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header__nav {
  display: flex;
  align-items: center;
}
.header__page {
  display: flex;
  align-items: center;
}
.header-menu {
  display: flex;
}
.header-menu__item:not(:last-child) {
  margin-right: 50px;
}
.header-menu__item {
  position: relative;
}

.header-menu .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: var(--font-size-main);
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu .link:hover,
.header-menu .link:focus {
  color: var(--accent-color);
}
.header-menu .link.current {
  color: var(--accent-color);
}
.header-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header-contacts__item:not(:last-child) {
  margin-right: 30px;
}
.header-contacts .link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: var(--font-size-main);
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}
.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
.header-contacts__icons .header-contacts__icon:hover,
.header-contacts__icons .header-contacts__icon:focus {
  fill: var(--accent-color);
}

/*------------------------ Герой ---------------------*/

.section.hero {
  height: 600px;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/homework-three/bg-main.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-hero-color);
  text-align: center;
}

.container.hero {
  width: 696px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--hero-title-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* ---------------------------Кнопка--------------------------- */

.button-hero {
  display: flex;
  align-items: center;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid transparent;
  min-width: 200px;

  color: var(--hero-title-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-hero:hover,
.button-hero:focus {
  background-color: #188ce8;
}
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;

  color: #000;
  background-color: var(--hero-title-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover,
.button-close:focus {
  color: var(--accent-color);
}
/*---------------------------- Модальное окно ----------------------------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .model-wrapper {
  transform: translate(-50%, -50%) scale(0.9);
}

.model-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  padding: 40px;
  background-color: var(--background-body-color);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform cubic-bezier(0.4, 0, 0.2, 1);
}

.model-btn:hover,
.model-btn:focus {
  fill: var(--accent-color);
}

.model-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: var(--background-body-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*---------------------Форма модального окна--------------------------*/
.form-group {
  display: block;
  margin-bottom: 10px;
}
textarea {
  resize: none;
}
.form-textarea {
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

.form-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  padding: 14px 14px 14px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
}

.form-input:hover,
.form-input:focus {
  border-color: var(--accent-color);
}

.form-input:hover + .form-icon,
.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.form-icon:hover,
.form-icon:focus {
  fill: var(--accent-color);
}

.form-input-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-group {
  position: relative;
}

.form-icon {
  position: absolute;
  bottom: 14px;
  left: 15px;
}

.form-comments {
  display: flex;
  width: 100%;
  height: 120px;
  margin-bottom: 17px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline: transparent;
}
.form-comments:hover,
.form-comments:focus {
  border-color: var(--accent-color);
}

.form-comments::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-polisy-group {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  align-items: center;
  justify-content: center;
  color: var(--second-text-color);
  cursor: pointer;
  margin-bottom: 30px;
}

.custom-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
  border: 2px solid #000000;
  outline-offset: -2px;
  cursor: pointer;
}

.custom-checkbox-icon {
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .custom-checkbox-icon {
  opacity: 1;
}

.form-polisy-decs {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.visually-hidden-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox:checked:focus + .custom-checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.checkbox:checked + .custom-checkbox .custom-checkbox-icon {
  opacity: 1;
}

.custom-checkbox-icon {
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #ffffff;
}

.checkbox-label-link {
  color: var(--accent-color);
}

.submit-btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 16px;
  min-width: 200px;
  background-color: var(--accent-color);
  color: var(--background-body-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-width: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-container:focus-within {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/*---------------------------- section----------------------- */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-body-color);
}

.section .no-padding {
  padding-top: 0;
  padding-bottom: 0;
}
.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
/*---------------------- Преимущества----------------- */
.feature-list {
  display: flex;
}
.feature-item {
  width: 270px;
}
.feature-item::before {
  content: "";
}
.feature-item:not(:last-child) {
  margin-right: 30px;
}

.feature-list .title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: var(--font-size-main);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-icon-block {
  display: flex;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;

  justify-content: center;
  align-items: center;

  background-color: var(--background-team-color);
  border-radius: 4px;
}

.feature-list .text {
  color: var(--primary-text-color);

  font-size: var(--font-size-main);
  line-height: 1.71;

  letter-spacing: 0.03em;
}

/*--------------------- Примеры работ-------------------- */

.work {
  padding-top: 0px;
}
.work__list {
  display: flex;
}
.work__item {
  position: relative;

  margin-right: 30px;
}
.work__item:last-child {
  margin-right: 0;
}
.work__text {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: var(--hero-title-color);

  font-weight: 700;
  font-size: var(--font-size-main);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*------------------------Команда --------------------------------*/
.section.team {
  background-color: var(--background-team-color);
}
.team-list {
  display: flex;
}
.team-item {
  width: 270px;
  background: var(--background-body-color);

  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-list .title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.social {
  padding-top: 30px;
  padding-right: 32px;
  padding-bottom: 30px;
  padding-left: 32px;
}
.social-nav {
  width: 44px;
  height: 44px;
  justify-content: center;
}
.social-nav:last-child {
  margin-right: 0;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--background-body-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  background-color: var(--accent-color);
  fill: var(--hero-title-color);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  fill: var(--hero-title-color);
}
.social-icon {
  fill: var(--icon-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-text {
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-nav:not(:last-child) {
  margin-right: 10px;
}

/*---------------------- Постоянные клиенты------------------------------- */
.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--icon-color);

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__icon {
  fill: var(--icon-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__logo:not(:last-child) {
  margin-right: 30px;
}
.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
  color: var(--accent-color);
}
.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--accent-color);
}

/* --------------------------------------Подвал------------------------- */

.section.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-hero-color);
}

.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-right: auto;
}

.footer-social {
  display: block;
  justify-content: center;
  align-items: baseline;
}

.footer-social-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  width: 44px;
  height: 44px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-nav:not(:last-child) {
  margin-right: 10px;
}
.footer-social-link:hover,
.footer-social-link:focus + .footer-social-icon {
  background-color: var(--accent-color);
  border: var(--accent-color);
}
.footer-link-item .link-mail,
.footer-link-item .link-phone {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-item .link-phone:hover,
.footer-link-item .link-phone:focus {
  color: var(--accent-color);
}
.footer-link-item .link-mail:hover,
.footer-link-item .link-mail:focus {
  color: var(--accent-color);
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--hero-title-color);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.footer-social-icon {
  fill: currentColor;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-container {
  display: flex;
}

.footer-contacts {
  margin-right: 70px;
}

.footer-title {
  color: var(--hero-title-color);

  margin-bottom: 20px;

  font-weight: 700;
  font-size: var(--font-size-main);
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.footer-adress {
  color: var(--hero-title-color);
  font-family: "Roboto";
  font-style: normal;
  font-size: var(--font-size-main);
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}

.logo-footer {
  color: var(--hero-title-color);
}

.footer-logo-margin {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
}

.footer-link-item {
  margin-bottom: 9px;
}

.adress {
  font-style: inherit;
}

.footer-nav .link {
  display: block;
  margin-right: auto;
  margin-bottom: 9px;
  color: var(--footer-text-color);
  font-style: normal;
  font-size: var(--font-size-main);
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-social-link .link:hover,
.footer-social-link .link:focus {
  color: var(--accent-color);
}

.link.link-phone {
  margin-bottom: 0;
}
.section-conteiner-left-right .footer-container {
  padding-right: 0;
  padding-left: 0;
}

/*--------------- Форма в футере--------------------------- */

.section-conteiner-left-right {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.container-right-text {
  display: block;
  color: var(--hero-title-color);

  margin-bottom: 20px;

  font-weight: 700;
  font-size: var(--font-size-main);
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.footer-input {
  display: block;
  width: 358px;
  height: 50px;
  padding: 15px 16px;

  font-size: 16px;
  line-height: 1.25;
  color: var(--hero-title-color);
  background-color: var(--background-hero-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-right: 12px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input:hover {
  outline: 0;
  border-color: var(--hero-title-color);
}
.footer-input:focus {
  outline: 0;
  border-color: var(--hero-title-color);
}

.footer-input:focus {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
}
.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-forma-button {
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  display: flex;
  min-width: 200px;
  height: 50px;
  cursor: pointer;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  align-items: center;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-forma-button:hover,
.footer-forma-button :focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.footer-forma-button .footer-button-text {
  color: var(--hero-title-color);
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  letter-spacing: 1.9;
  margin-right: 10px;
}
.form-footer {
  display: flex;
}
.footer-btn {
  display: inline-block;
  fill: var(--hero-title-color);
}
.e-mail {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
}

/* -----------------------------------------------------Стили для ПОРТФОЛИО -------------------*/

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filtrs {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
}
.filtrs__item {
  margin-right: 8px;
}
.filtrs__item:last-child {
  margin-right: 0;
}
.gallery__item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__item:nth-child(3n) {
  margin-right: 0px;
}
.gallery__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.filtrs__btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 103px;

  color: var(--title-text-color);
  background-color: var(--background-team-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filtrs__btn:hover,
.filtrs__btn:focus {
  color: var(--hero-title-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.filtrs__current {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;

  color: var(--background-body-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}

.gallery__box {
  display: inline-block;
  text-decoration: none;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__box:hover,
.gallery__box:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.gallery__blok {
  position: relative;
  overflow: hidden;
}
.gallery__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.gallery__card {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.55;

  color: var(--hero-title-color);
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(101%);
}

.gallery__box:hover .gallery__card,
.gallery__box:focus .gallery__card {
  transform: translateY(0);
}

.gallery__title {
  color: var(--title-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}
.gallery__title .text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.gallery__name {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.gallery__description {
  padding: 20px 24px;
  border-bottom: 1px solid var(--text-card-color);
  border-right: 1px solid var(--text-card-color);
  border-left: 1px solid var(--text-card-color);
}
