:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --hero-title-color: #ffffff;
    --background-hero-color: #2f303a;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --background-body-color: #ffffff;
    --background-team-color: #f5f4fa;
    --font-size-main: 14px;
    --icon-color: #afb1b8;
    --background-client-color: #e5e5e5;
    --text-card-color: #eeeeee;
}